

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 16px;
}


:root {
  --base-font-size: 16px;
}

html {
  font-size: 14px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: var(--base-font-size);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  font-size: var(--base-font-size);
}

/* For smooth sidebar transitions */
aside {
  transition: width 0.3s ease;
  background: inherit;
}

/* Adjust main content when sidebar is closed */
main {
  transition: margin-left 0.3s ease;
  min-height: calc(100vh - 4rem);
  padding-top: 4rem;
  
}
